<br>
<input type="text" class="form-control search-bar"  placeholder="Search User...">
<br>
<div class="card my-info" *ngIf="user">
    <div class="card-header">
      <span *ngIf="user.name">{{user.name}}</span>
      <span *ngIf="!user.name">{{user.username}}</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail" [src]="user.avatar" alt="users avatar" />
          <p class="bio-text">{{user.bio}}</p>
        </div>
        <div class="col-md-8">
          <div class="stats">
            <span class="alert alert-secondary">{{user.followers}} Followers</span>
            <span class="alert alert-secondary">Following {{user.following}}</span>
            <span class="alert alert-secondary">{{user.repos}} Repos</span>
            <span class="alert alert-secondary">{{user.gists}} Gists</span>
          </div>
          <br>
          <ul class="list-group list-info">
            <li class="list-group-item list-info">Username: {{user.username}}</li>
            <li class="list-group-item list-info">Email: {{user.email}}</li>
            <li class="list-group-item list-info">Location: {{user.location}}</li>
            <li class="list-group-item list-info">Joined: {{user.created_at | datePipe}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- repos -->
<br>
<div class="card repo-card" *ngIf="repos">
  <div class="card-header">
    <span *ngIf="user.name">{{user.name}} Repos</span>
    <span *ngIf="!user.name">{{user.username}} Repos</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let repo of repos">
          <div class="row">
            <div class="col-md-6">
              <h4><a class= "repo-name" href="{{repo.homepage}}">{{repo.name}}</a></h4>
              <p>{{repo.description}}</p>
            </div>
            <div class="col-md-6">
              <div class="stats">
                <span class="alert alert-secondary">{{repo.stargazers}} Stars</span>
                <span class="alert alert-secondary" *ngIf="repo.language">{{repo.language}}</span>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>